{% extends 'todo/base.html' %}
{% block content %}
<div class="container" style="max-width: 1200px; margin-top: 20px;">
  <div class="row">
    <div class="col-lg">
      <div class="card" style="background-color: #000000 ; border-radius: 10px;">
        <div class="card-body">
          <center>
            <h4 style="font-family: 'Arial', sans-serif; color: #ffffff;">Tambahkan Konten :</h4>
            <a href="{% url 'save' %}" class="btn btn-success" style="font-size: 16px; padding: 10px 20px; border-radius: 5px;">Tambah</a>
          </center>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col">
      <table class="table table-dark" style="border-radius: 8px; overflow: hidden;">
        <thead>
          <tr style="background-color: #6d0000; color: white;">
            <th scope="col">No</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Judul</th>
            <th scope="col">Ditambahkan pada</th>
            <th scope="col">Diedit pada</th>
            <th scope="col">Opsi</th>
          </tr>
        </thead>
        <tbody>
          {% for list in list %}
          <tr style="background-color: #000000;">
            <th scope="row" style="color: #fff;">{{ list.id }}</th>
            <td style="color: #ccc;">{{ list.content }}</td>
            <td style="color: #ccc;">{{ list.title }}</td>
            <td style="color: #ccc;">{{list.created_at}}</td>
            <td style="color: #ccc;">{{list.updated_at}}</td>

            <td>
              <a class="btn btn-success" href="{% url 'edittodo' list.id %}" style="margin-right: 5px; padding: 5px 10px; border-radius: 5px;">Edit</a>
              <a class="btn btn-danger" href="{% url 'delete' list.id %}" style="padding: 5px 10px; border-radius: 5px;">Hapus</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
